<header id="header" class="header">
  <div class="header__top">
    <div class="header__top-left header-item">
      {{>logo subclass='dark-red-backgroundcolor' firstLetterColor='white-color' secondLetterColor='black-color'}}
      <div class="tooltip logo-tooltip">Home Page</div>
    </div>
    <div class="header__top-middle">
      <nav class="header__top-navbar">
        <a href="/posts?type=latest" class="header__top-navItem header-item" data-value="0">MỚI NHẤT</a>
        <a href="/posts?type=feature" class="header__top-navItem header-item" data-value="1">NỔI BẬT</a>
        <a href="/posts?type=premium" class="header__top-navItem header-item" data-value="-1">PREMIUM</a>
      </nav>
    </div>
    <div class="header__top-right">
      <div class="header__top-searchContainer">
        <input type="text" name="search" class="search-input" id="search-input" placeholder="Tìm kiếm..." />
        <i class="fa-solid fa-magnifying-glass header__top-searchIcon"></i>
      </div>
      <div class="header__top-userIconContainer">
        <a class="header__top-userIcon" href=""><i class="fa-solid fa-user"></i></a>
        <div class="tooltip userIcon-tooltip">User</div>
      </div>
    </div>
  </div>
  <div class="header__middle" id="sticky-header">
    <a href="/" class="header__home-container header-item" data-value="home">
      <i class="fa-solid fa-house header__category"></i>
      <div class="header__category-tooltip tooltip">Home Page</div>
    </a>
    {{#each categories}}
    <a href="/posts?category={{id}}" class="header__category-container header-item">
      {{name}}
      <div class="header__category-tooltip tooltip">{{name}}</div>
    </a>
    {{/each}}
  </div>
</header>