<div class="main__highlight grid-container">
  <div class="main__highlight-headline"><a
      href="/posts?type={{type}}"
      class="headline-text"
    >{{headline}}</a></div>
    {{#each highlightData}}
    {{>newsItem}}
    {{/each}}
  <a href="/posts?type={{type}}" class="see-more-btn">Xem thêm</a>
</div>