<script>
  const navItems = document.getElementsByClassName('nav-item-container'); for (let i = 0; i < navItems.length; i++) {
    navItems[i].addEventListener('click', (e) => handleOnclick(e));
  }

  const handleOnclick = (e) => {
    const target = e.target; const items = document.getElementsByClassName('nav-item-container');
    for (let i = 0; i < items.length; i++) { items[i].style.backgroundColor = ''; }
    switch (target.getAttribute('value')) {
      case 'log-out': {
        target.style.backgroundColor = 'rgba(255,255,255,0.2)';
        window.location = '/users/logout';
        break;
      }
    }
  }

  /*****************************************/ /* handle click event on edit account button */
  document.getElementById('edit-btn').addEventListener('click', () => {
    const popUpAccountForm = ` 
    <div class="modal" id="account-modal"> 
      <div class="modal-content"> <div class="modal-form-container"> 
        <a class="modal-close-btn" id="popup-account-close">&times;</a> 
        <form class="modal-form" action="/users/my-account" method="post"> 
          <h2 class="modal-title">Chỉnh sửa thông tin</h2> 
          <input class="modal-form-input" type="text" name="change-nickname" id="change-nickname" placeholder="Biệt danh" required/> 
          <button class="modal-form-submit-btn" type="submit">Submit</button> 
        </form> 
      </div> 
    </div>`;
    const popUpAccountFormElement = document.createElement('div');
    popUpAccountFormElement.innerHTML = popUpAccountForm.trim();
    document.getElementById('dashboard-main').appendChild(popUpAccountFormElement);
    document.getElementById('account-modal').style.display = 'block';
    document.getElementById('popup-account-close').addEventListener('click', () => {
      document.getElementById('dashboard-main').removeChild(popUpAccountFormElement)
    });
  });

  document.getElementById('change-password-btn').addEventListener('click', () => {
    const popUpPasswordForm = ` 
    <div class="modal" id="password-modal"> 
      <div class="modal-content"> 
        <div class="modal-form-container"> 
          <a class="modal-close-btn" id="popup-close">&times;</a> 
          <form id="change-password-form" class="modal-form" action="/users/my-account" method="post"> 
            <h2 class="modal-title">Đổi mật khẩu</h2> 
            <div>
              <input class="modal-form-input" type="password" name="current-password" id="current-password" placeholder="Mật khẩu" required/> 
              <input class="modal-form-input" type="password" name="new-password" id="new-password" placeholder="Mật khẩu mới" onchange="checkConfirmPassword('change-password-form', 'new')" required/> 
              <input class="modal-form-input" type="password" name="new-confirm-password" id="new-confirm-password" placeholder="Xác nhận mật khẩu mới" onkeyup="checkConfirmPassword('change-password-form', 'new')" required/> 
            </div> 
            <button class="modal-form-submit-btn" type="submit">Submit</button> 
          </form> 
        </div> 
      </div>
    </div> `;
    const popUpPasswordFormElement = document.createElement('div');
    popUpPasswordFormElement.innerHTML = popUpPasswordForm.trim();
    document.getElementById('dashboard-main').appendChild(popUpPasswordFormElement);
    document.getElementById('password-modal').style.display = 'block';
    document.getElementById('popup-close').addEventListener('click', () => {
      document.getElementById('dashboard-main').removeChild(popUpPasswordFormElement)
    });
  });
</script>