<a class="news-item-container ignore-click">
  <div class="news-thumbnail-container zoom-hover">
    <img class="news-thumbnail" src="{{imgPath}}" alt="Thumbnail" />
  </div>
  <div class="news-info">
    <h3 class="news-title">{{title}}</h3>
    <p class="news-summary">
      {{summary}}
    </p>
  </div>
  <div class="news-tag">{{category}}</div>
  {{! ${NewsItemFooter(context, data.date)} }}
</a>