.admin-dashboard-page .main__highlight {
  width: 100%;
  grid-template-columns: 48% 48%;
  gap: 20px;
  padding-left: 25px;
}

.admin-dashboard-page .news-item-container {
  min-height: 50px;
}

.admin-infomation-div {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  border-left: 0.5px solid rgba(0, 0, 0, 0.2);
}

.admin-infomation-div p {
  font-size: 18px;
  font-weight: 100;
  padding-left: 30px;
}

.admin-infomation-div .info-container {
  height: 40px;
  padding: 0;
  margin: 0;
}

.text-input-admin {
  margin-bottom: 10px;
}

.admin-dashboard-page label {
  font-size: 22px;
  font-weight: 400;
  height: fit-content;
  margin-bottom: 10px;
}

.text-input-admin input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 24px;
  border: none;
  font-size: 18px;
}

.admin-dashboard-page .form-input {
  background-color: white;
}

.admin-dashboard-page .register-column .form-group {
  margin-top: 20px;
}
