* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* height: 3000px; */
  font-family: 'Roboto Flex', 'Noticia Text', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

.white-color {
  color: white;
}

.black-color {
  color: black;
}

.dark-red-color {
  color: #b83730;
}

.dark-red-backgroundcolor {
  background-color: #b83730;
}

.mb30 {
  margin-bottom: 30px;
}

.zoom-hover img {
  transition: transform 0.2s ease-in-out;
}

.zoom-hover:hover img {
  transform: scale(1.5);
}

.grid-container {
  display: grid !important;
  justify-content: center;
  width: 100%;
}
