<div id="root">
  <div class="dashboard-page">
    {{>header}}
    <main class="main" id="dashboard-main">
      <ul class="dashboard-page-navbar" id="dashboard-navbar">
        {{#each navItems}}
        {{>nav-item data=this}}
        {{/each}}
      </ul>

      <div class="main-content admin-dashboard-page" id="main-content">
        <form action="/admin/createAdmin/{{adminId}}" method="post">
          <div class="text-input-admin">
            <label for="telephone">Số điện thoại</label>
            <input type="text" name="telephone" id="telephone">
          </div>

          <div class="text-input-admin">
            <label for="email">Email công việc</label>
            <input type="text" name="email" id="email">
          </div>

          {{>roundButton type='submit' className='strawberry-backgroundcolor submitButton'
          id='submit-btn' text='Tạo quản trị viên'}}
        </form>
      </div>
    </main>
  </div>
</div>