<div id="root">
  <div class="dashboard-page">
    {{>header}}
    <main class="main" id="dashboard-main">
      <ul class="dashboard-page-navbar" id="dashboard-navbar">
        {{#each navItems}}
        {{>nav-item data=this}}
        {{/each}}
      </ul>
      <div class="main-content" id="main-content">
        <div class='dashboard-account-info'>
          <h3 class='info-header'>THÔNG TIN BIÊN TẬP VIÊN</h3>
          <div class='info-wrapper'>
            {{>info-item label="Email công việc" data=data.Editor.work_email}}
            {{>info-item label="Số điện thoại" data=data.Editor.telephone}}
          </div>
        </div>
      </div>
    </main>
    {{!-- {{>footer}} --}}
  </div>
</div>