<div class="login-page">
  {{>logo subclass='logo-login' firstLetterColor='dark-red-color' secondLetterColor='black-color'}}
  {{>goBackButton link='../../index.html'}}

  <div class="login-form">
    {{>formInput label='Tên đăng nhập' placeholder='Username' id='user-name' warningMessage='Enter user name' type='text'}} 
    {{>formInput label='Mật khẩu' placeholder='Password' id='user-password' warningMessage='Enter password' type='password'}} 
    {{>roundButton type='submit' className='strawberry-backgroundcolor' id='login-btn' text='Đăng nhập'}}
  </div>

  <a href="../../pages/ForgotPasswordPage.html" class="forget-password-btn">Quên mật khẩu</a>

  <div class="other-login-btns">
    <button class="loginBtn loginBtn--facebook">Login with Facebook</button>
    <button class="loginBtn loginBtn--google">Login with Google</button>
  </div>

  {{>roundButton type="button" className="dark-red-backgroundcolor" id="registry-btn" text="Tạo tài khoản mới"}}
</div>