<div class="news-list">
  {{>header}}
  <div class="news-list-main" id="news-list-main">
    {{>highlight highlightData=posts}}
    {{>pagination-main}}
  </div>
  {{>footer}}
</div>

{{>pagination-script}}