* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* height: 3000px; */
  font-family: 'Roboto Flex', 'Noticia Text', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

.white-color {
  color: white;
}

.black-color {
  color: black;
}

.dark-red-color {
  color: #b83730;
}

.dark-red-backgroundcolor {
  background-color: #b83730;
}

.mb30 {
  margin-bottom: 30px;
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 340px;
}

/* *** HEADER SECTION *** */

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 10;
}

.header__top {
  background-color: #e36060;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header__top-left,
.header__top-middle,
.header__top-right {
  height: 100%;
}

.header__top-left {
  position: relative;
}

.logo,
.header__top-navbar,
.header__top-navItem,
.header__top-right {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 2px;
  text-align: center;
  padding: 0 20px;
  cursor: pointer;
}

.header__top-left:hover .logo-tooltip,
.header__top-userIconContainer:hover .userIcon-tooltip,
.header__category-container:hover .header__category-tooltip {
  opacity: 1;
}

.tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  padding: 8px 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s;
  z-index: 20;
}

.logo-tooltip {
  bottom: -60%;
  right: -20%;
}

.userIcon-tooltip {
  bottom: -120%;
  left: -100%;
}

.header__top-middle {
  flex: 1;
}

.header__top-navbar {
  flex-direction: row;
}

.header__top-navItem {
  width: 200px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding: 0 20px;
  margin: 0 3.5%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.header__top-navItem:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
}

.header__top-right {
  display: flex;
  width: 20%;
}

.header__top-searchContainer {
  flex: 1;
  display: flex;
  align-items: center;
}

.header__top-userIconContainer {
  margin: 0 9px;
  position: relative;
}

.header__top-userIcon {
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 15px;
  border: none;
}

.search-input::placeholder {
  font-family: 'Roboto Flex';
  font-size: 18px;
}

.header__top-searchIcon {
  position: absolute;
  right: 4%;
}

.header__middle {
  display: flex;
  height: 50px;
  flex-direction: row;
  width: 100%;
  align-items: center;
  background-color: #444444;
  color: white;
}

.header__category-container {
  flex: 1;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: background-color 0.15s;
}

.header__category-container:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
}

.header__category {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.header__category-tooltip {
  top: 100%;
  left: 50%;
  transition: opacity 0.15s;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent 
sudden quick movement (as the header gets a new position 
at the top of the page (position:fixed and top:0) */
.sticky-header + .main {
  padding-top: 110px;
}

/* *** CONTENT SECTION *** */

.main {
  margin-top: 60px;
  width: 100%;
}

.grid-container {
  display: grid !important;
  justify-content: center;
  width: 100%;
}

/* Feature */

.main__features {
  grid-template-columns: 40% 40%;
  gap: 15px;
  margin-bottom: 34px;
}

.main__features-carousel {
  grid-row: 1 / span 3;
}

.custom-carousel-item {
  position: relative;
  cursor: pointer;
}

.carousel-thumbnail-container {
  height: 80%;
  width: 100%;
  overflow: hidden;
  margin-bottom: 7px;
}

.carousel-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zoom-hover img {
  transition: transform 0.2s ease-in-out;
}

.zoom-hover:hover img {
  transform: scale(1.5);
}

.carousel-info {
  width: 100%;
  padding: 5px;
}

.news-item-container {
  display: flex;
  flex-direction: row;
  height: 172px;
  position: relative;
}

.news-thumbnail-container {
  min-width: 172px;
  width: 172px;
  height: 100%;
  margin-right: 11px;
  overflow: hidden;
}

.carousel-thumbnail-container:hover ~ .carousel-info > .carousel-title,
.carousel-info:hover .carousel-title,
.news-thumbnail-container:hover ~ .news-info > .news-title,
.news-info:hover .news-title {
  color: #ed1c24;
}

.news-thumbnail {
  height: 100%;
  object-fit: cover;
}

.news-info {
  color: black;
}

.carousel-title,
.news-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  margin-bottom: 5px;
  transition: color 0.2s;
}

.carousel-summary,
.news-summary {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.news-tag {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  padding: 4px 7px;
  background-color: #e36060;
  color: white;
  z-index: 1;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Most viewed */

.main__highlight {
  grid-template-columns: 40% 40%;
  gap: 15px;
  position: relative;
  padding-bottom: 44px;
  margin-bottom: 40px;
}

.main__highlight-headline {
  grid-column: 1 / span 2;
  background-color: #ababab;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.headline-text {
  max-height: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 9px 17px;
  background-color: #b83730;
  color: white;
  cursor: pointer;
}

.headline-text:hover {
  color: white;
}

.see-more-btn {
  position: absolute;
  right: 10%;
  bottom: 10px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.see-more-btn:hover {
  color: black;
  text-decoration: underline;
}

/* *** FOOTER SECTION *** */

.footer {
  position: absolute;
  bottom: 40px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9;
  pointer-events: none;
  padding: 17px 0 27px 0;
}

.footer__bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 46px;
}

.footer__subhead {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  margin-top: 6px;
}

.footer__contacts-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 9px;
}

.footer__contact {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}

/* *** GO TOP BUTTON *** */

.go-top-btn {
  color: white;
  background-color: #ababab;
  position: fixed;
  bottom: 40px;
  right: 30px;
  padding: 10px 15px;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.25);
  transition: background-color 0.15s;
}

.go-top-btn:hover {
  color: white;
  background-color: #858585;
}
