/* *** CONTENT SECTION *** */

.main {
  margin-top: 60px;
  width: 100%;
}

.grid-container {
  display: grid !important;
  justify-content: center;
  width: 100%;
}

/* Feature */

.main__features {
  grid-template-columns: 40% 40%;
  gap: 15px;
  margin-bottom: 34px;
}

.main__features-carousel {
  grid-row: 1 / span 3;
}

.carousel-item,
.carousel-item:hover .carousel-summary {
  color: black;
}

.custom-carousel-item {
  position: relative;
  cursor: pointer;
}

.carousel-thumbnail-container {
  height: 80%;
  width: 100%;
  overflow: hidden;
  margin-bottom: 7px;
}

.carousel-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zoom-hover img {
  transition: transform 0.2s ease-in-out;
}

.zoom-hover:hover img {
  transform: scale(1.5);
}

.carousel-info {
  width: 100%;
  padding: 5px;
}

.news-item-container {
  display: flex;
  flex-direction: row;
  height: 172px;
  position: relative;
}

.news-thumbnail-container {
  min-width: 172px;
  width: 172px;
  height: 100%;
  margin-right: 11px;
  overflow: hidden;
}

.carousel-thumbnail-container:hover ~ .carousel-info > .carousel-title,
.carousel-info:hover .carousel-title,
.news-thumbnail-container:hover ~ .news-info > .news-title,
.news-info:hover .news-title {
  color: #ed1c24 !important;
}

.news-thumbnail {
  height: 100%;
  object-fit: cover;
}

.news-info {
  color: black;
}

.carousel-title,
.news-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  margin-bottom: 5px;
  transition: color 0.2s;
}

.carousel-summary,
.news-summary {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.news-tag {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  padding: 4px 7px;
  background-color: #e36060;
  color: white;
  z-index: 1;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Most viewed */

.main__highlight {
  grid-template-columns: 40% 40%;
  gap: 15px;
  position: relative;
  padding-bottom: 44px;
  margin-bottom: 40px;
}

.main__highlight-headline {
  grid-column: 1 / span 2;
  background-color: #ababab;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.headline-text {
  max-height: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 9px 17px;
  background-color: #b83730;
  color: white;
  cursor: pointer;
}

.headline-text:hover {
  color: white;
}

.see-more-btn {
  position: absolute;
  right: 10%;
  bottom: 10px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.see-more-btn:hover {
  color: black;
  text-decoration: underline;
}

/* *** GO TOP BUTTON *** */

.go-top-btn {
  color: white;
  background-color: #ababab;
  position: fixed;
  bottom: 40px;
  right: 30px;
  padding: 10px 15px;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.25);
  transition: background-color 0.15s;
}

.go-top-btn:hover {
  color: white;
  background-color: #858585;
}
